@{
    ViewBag.Title = "Results";
}

<div class="jumbotron" style="text-align: center">
	<h2 style="color: green">
		@ViewBag.winner has won the game!
	</h2>
	<h3 style="color: red">
		@ViewBag.loser lost.
	</h3>
	<a href="/">Play again</a>
	<br />
	<a href="/home/history">View games history</a>
</div>

